		<!-- CONTACT -->
		<section class="module-small">

			<div class="container">

				<div class="row">

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="icon-map-pin"></span>
							</div>
							<div class="content-box-title font-inc">
								R. Gago Coutinho, 500 - Pina, Recife - Pernambuco - Brasil
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="icon-phone"></span>
							</div>
							<div class="content-box-title font-inc">
								+55 81 98111-1134/3128-0730
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="icon-envelope"></span>
							</div>
							<div class="content-box-title font-inc">
								contato@pragana.com.br
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

				</div>

			</div>

		</section>
		<!-- /CONTACT -->

		<!-- FOOTER -->
		<footer class="footer">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 text-center">
						<p class="copyright font-inc m-b-0">© 2018 <a routerLink="/">PRAGANA</a>, {{'footer' | translate}}</p>
					</div>

				</div>

			</div>

		</footer>
		<!-- /FOOTER -->